* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

:root {
  --ff-heading: 'Staatliches',sans-serif;
  --ff-textting: 'Palanquin',sans-serif;

  --bg-header: #8E9AAF;
  --bg-h1: #CBC0D3;
  --bg-main: #EFF1FF;
  --bg-h2: #FEEAFA;

  font-size: 62.5%;
  --fs-h1: 4rem;
  --fs-texting: 2rem;
  --fs-h2: 2rem;
}

.page {
  max-width: 38.4rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-heading);
  background-color: var(--bg-header);
}

img {
  width: 100%;
  height: auto;
 }

.header-img{
  margin-bottom:3.2rem;
  margin-top: 3.2rem;
  width: 13.7rem;
}

h1 {
  width:100%;
  text-align: center;
  font-size: var(--fs-h1);
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background-color: var(--bg-h1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom:2.9rem;
}

.wrapper {
  padding: 1.4rem 3.2rem 6rem 3.2rem;
  background-color: var(--bg-main);
}

.wrapper p {
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);
  text-align: center;
  margin-bottom: 6.3rem;
}

main {
  display: grid;
  gap: 3.6rem;
}





.img-card {
  position: relative;
  font-family: var(--ff-heading);
  transition: all 200ms;
}

.img-card img {
  object-fit: cover;
  border-radius: 2rem;
  animation: downtop 2000ms 50ms; 
}

.img-card img:hover {
  transform: scale(1.05);
}

.img-card h2 {
  position: absolute;
  top:1.6rem;
  right:1.6rem;
  display: flex;
  flex-direction: column;
  background: var(--bg-h2);
  border-radius: 2rem;
  width: 11.2rem;
  height: 3.5rem;

  animation: topdown 2400ms 1000ms backwards;
}

.img-card h2 span {
  color: #4A4E69;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  font-size: var(--fs-h2);
  padding: 0 2.3rem;

  width: fit-content;
  height: 3.5rem;

  display: inline-flex;
  align-items: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}